.column-box {
    width: 100%;
    border-radius: 19px;
    padding: 30px;
    margin-bottom: 4px;
    margin-top: 30px;
}

.column-box .column-mt-1 {
    margin: 5px;
    width: 100%;
}

.column-box .column-mt-1 .colun-flexbox {
    display: flex;
    /* justify-content: space-between; */
}

.col-hr {
    margin-left: 150px;
    margin-right: 100px;
    background-color: var(--bg-color);
    /* border: 1px; */
}

.colun-flexbox img {
    width: 156px;
    height: 140px;
    position: relative;
    border-radius: 60%;
    /* top: 10px; */
    border: 3.5px solid rgba(0, 0, 0, 0.777);
    left: 110px;
    bottom: 17px;
}


.column-box .column-mt-1 .colun-flexbox .user-data {
    margin-left: 113px;
    padding: 15px 0px 10px 0px;

    width: 30%;
}

.colun-flexbox .user-data span {
    display: flex;
}

.colun-flexbox .user-data .brnd-name h1 {
    margin-left: 22px;
    position: relative;
    bottom: 6px;
    padding-left: 10px;
    /* padding-top: 18px; */
    margin-bottom: 15px;
    font-weight: 480;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    color: var(--color);
}

.colun-flexbox .user-data .brnd-name h1:hover {
    color: var(--color);
    transform: scale(1.1);
}

.colun-flexbox .user-data .user-id h3 {
    margin-left: 22px;
    position: relative;
    bottom: 3px;
    font-weight: 480;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    padding-bottom: 12px;
    color: var(--description-color);
    padding-left: 12px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.colun-flexbox .user-data .user-id h3:hover {
    color: var(--color);
}

.colun-flexbox .user-data .totalpost {
    padding-top: 18px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.colun-flexbox .user-data .totalpost h4 {
    margin-left: 17px;
    position: relative;
    bottom: 0px;
    font-weight: 480;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.colun-flexbox .user-data .totalpost h4:hover {
    color: rgba(0, 0, 0, 0.709);
    transform: scale(1.2);
}

.col-hr {
    margin-left: 10px;
    margin-right: 50%;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.547);
    border: dotted 1px;
    opacity: 1.2;
}