.modal-btn {
    color: black;
}

.box-flex {
    height: auto;
}

.box-flex .input-container {
    width: 100%;
    padding: 1px;
    height: auto;
}

.box-flex h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 22px;
    color: black;
}

.box-flex .input-container .input-box {
    width: 100%;
    height: 37.5pc;
    box-shadow: rgba(30, 30, 30, 0.45) 0px 5px 25px;
    padding: 18px;
    display: flex;
}

.box-flex .input-container .input-box .post-content {
    width: 53%;
    height: 95%;
    margin-left: -15px;
    margin-right: 5px;
    margin-top: 5px;
}

.box-flex .input-box .post-content .picture-tl {
    width: 100%;
    height: 10pc;
    margin-top: 20%;
    /* border: 1px solid black; */
    position: relative;
}


.box-flex .input-container .input-box .picture-tl label {
    width: 100%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10pc;
}


.box-flex .input-container .input-box .picture-tl form input {
    margin-left: 11.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 13px;
    cursor: pointer;
}

.post-content .picture-tl .select {
    width: 47%;
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 30px;
    height: 4pc;
}

.post-content .picture-tl .preview-image {
    border: 1px solid rgba(0, 0, 0, 0.133);
    width: 95%;
    border-radius: 22px;
    position: relative;
    top: -280px;
    height: 34pc;
}

.box-flex .input-container .input-box .post-Detailcontent {
    width: 52%;
    height: 95%;
    margin-left: 5px;
    margin-right: 5px;
}

.box-flex .post-Detailcontent .sbmit-btnpost {
    background-color: rgb(29, 152, 228);
    color: white;
    padding: 11px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 80%;
    border-radius: 20px;
    margin-top: 55px;
}

.box-flex .post-Detailcontent .sbmit-btnpost:hover {
    background-color: rgb(106, 177, 222);
    color: black;
}

.close-image-icon {
    position: relative;
    left: 39pc;
    top: -2px;
}

.close-image-icon:hover {
    padding: 2px;
    border-radius: 12px;
    background-color: rgba(253, 67, 43, 0.925);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    font-size: 25px;
}