.modal-btn {
    color: black;
}

.box-flex {
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1250px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.6);
    padding: 4px;
}

.box-flex .input-container {
    width: 100%;
    padding: 50px;
    height: auto;
}

.box-flex h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 32px;
    color: black;
}

.box-flex .input-container .input-box {
    width: 100%;
    height: 32pc;
    box-shadow: rgba(30, 30, 30, 0.45) 0px 5px 25px;
    padding: 18px;
    display: flex;
}

.box-flex .input-container .input-box .post-content {
    width: 50%;
    height: 95%;
    margin-left: -15px;
    margin-right: 5px;
    margin-top: 5px;
}

.box-flex .input-box .post-content .picture-tl {
    width: 100%;
    height: 10pc;
    margin-top: 20%;
    /* border: 1px solid black; */
    position: relative;
}


.box-flex .input-container .input-box .picture-tl label {
    width: 100%;
    font-size: larger;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 164px;
}


.box-flex .input-container .input-box .picture-tl form input {
    margin-left: 204px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 13px;
    cursor: pointer;
}

.post-content .picture-tl .select {
    width: 47%;
    margin-left: 153px;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 30px;
    height: 4pc;
}

.post-content .picture-tl .preview-image {
    border: 1px solid rgba(0, 0, 0, 0.133);
    width: 91%;
    border-radius: 12px;
    position: relative;
    top: -285px;
    left: 20px;
    height: 29pc;
    margin-left: 12px;
    margin-top: 8px;
}

.box-flex .input-container .input-box .post-Detailcontent {
    width: 49%;
    height: 95%;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
}

.box-flex .post-Detailcontent .sbmit-btnpost {
    background-color: rgb(29, 152, 228);
    color: white;
    padding: 7.5px;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    left: 355px;
    border-radius: 16px;
    margin-top: 28px;
    margin-right: 25px;
}

.box-flex .post-Detailcontent .sbmit-btnpost:hover {
    background-color: rgb(101, 180, 229);
    color: rgba(24, 24, 24, 0.723);
    font-weight: 600;
}

.close-image-icon {
    position: absolute;
    left: 36pc;
    font-size: 32px;
    top: 8.4pc;
    z-index: 2;
    border-radius: 12px;
    padding: 5px;
}

.close-image-icon:hover {
    background-color: rgba(218, 46, 24, 0.925);
    color: white;
    cursor: pointer;
    border: 1px solid white;
}

.modal-line {
    opacity: .4;
}