.NavigationBar{
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.NavigationBar .navBar{
    width: 100%;
    display: flex;
}

.navBar .nav-p1{
    width: 50%;
    padding: 25px;
}
.navBar .nav-p2 {
  width: 50%;
  padding: 25px;
}

.navBar .nav-p2 .nav-ul{
    width: 100%;
    display: flex;
    margin-left:20%;
    margin-top: 8px;
    /* justify-content: space-evenly; */
    list-style: none;
}

hr{
    color:#eae3da;
    border: 1px solid;
}

.nav-p2 .nav-ul .ul-li{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    transition: all  0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.327);
    padding: 10px;
    letter-spacing: 1.5px;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 14px;
    position: relative;
    padding-left: 50px;
    padding-right:15px;
    font-weight:500;
}

.nav-p2 .nav-ul .ul-li:hover{
    background-color: #DFD3C3;
    border-color: #D0B8A8;
    box-shadow: 3px 3px 7px #D0B8A8;
}
.nav-p2 .nav-ul .ul-li .material-icons{
    width: 30px;
    /* border: 1px solid red; */
    position: absolute;
    left:10px;
    bottom: 8px;
}