.home-page {
    display: flex;
    width: 100%;
    /* border: 3px solid yellow; */
    height: auto;
}

.home-hr{
    color: #343a40;
    opacity: .2;
    margin-left: 23.6rem;
    margin-top: 5pc;
    position: fixed;
    height: 100%;
}