.home-page {
    display: flex;
    width: 100%;
    /* border: 3px solid yellow; */
    height: auto;
}

.home-hr{
    color: var(--color);
    /* opacity: .2; */
    margin-left: 23.6rem;
    margin-top: 5pc;
    position: fixed;
    height: 100%;
}