.home-page {
    display: grid;
    grid-template-columns: 24pc 1fr 1fr;
    width: 100%;
}

.home-hr {
    color: var(--color);
    /* opacity: .2; */
    margin-left: 23.6rem;
    margin-top: 5pc;
    position: fixed;
    height: 100%;
}