.detail-container {
    width: 100%;
    border: 1px solid beige;
    height: auto;
    margin-top: 30px;
    border-radius: 12px;
    margin-right: 12px;
}

.detail-container .container-box {
    width: 100%;
    padding: 15px;
}

.detail-container .container-box .heading h2 {
    font-size: 47px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(27, 27, 27, 0.815);
}

.hr-line {
    width: 30%;
    margin-left: 34%;
    margin-top: 10px;
    color: rgba(27, 27, 27, 0.815);
    border-radius: 12px;
}

.container-box .re-container {
    width: 100%;
    margin-top: 38px;
    /* border:  2px solid red; */
}

.container-box .re-container .product-fluid {
    margin: 12px;
    display: flex;
    gap: 4px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.re-container .product-fluid .products {
    width: 22%;
    height: auto;
    border: 2px solid beige;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 35px;
}

.re-container .product-fluid .products:hover {
    box-shadow: 2px 4px 7px beige;
}

.re-container .product-fluid .products:hover .product-box .product-img img {
    cursor: pointer;
    box-shadow: 2px 4px 7px beige;
    transform: scale(0.9);
    opacity: .9;
}

.re-container .product-fluid .products .product-box {
    /* margin: 12px; */
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid beige;
}


.products .product-box .product-img {
    width: 100%;
    height: 20pc;
}

.products .product-box .product-img img {
    width: 100%;
    height: 20pc;
    border-radius: 22px;
    transition: all 0.3s ease-in-out;
    /* opacity: .9; */
}

.re-container .product-fluid .products .product-breif {
    width: 100%;
    margin-top: 20px;
    height: auto;
    border: 1px solid beige;
    padding: 5px;
    border-radius: 10px;
}

.re-container .product-fluid .products .product-breif:hover {
    box-shadow: 2px 4px 7px beige;
}

.products .product-breif .info-prod {
    width: 100%;
}

.products .product-breif .info-prod .info-data {
    width: 100%;
    padding: 10px;
}


.info-prod .info-data h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 6px;
}

.info-prod .info-data .name {
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: 400;
    text-align: center;
    background-color: beige;
    border-radius: 30px;
}

.info-prod .info-data .price-tag {
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-size: 14px;
}

.info-prod .info-data .price-tag span {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 10px;
}

.info-prod .info-data h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.info-prod .info-data h5 .rating-crd {
    margin-left: 10px;
    font-size: 20px;
    height: 25px;
    padding-top: 2px;
    color: rgb(33, 150, 150);
}

.info-prod .info-data p {
    display: flex;
    width: 100%;
    margin-top: 7.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.info-prod .info-data p h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 12px;
    font-size: 12px;
    font-weight: 550;
    background-color: rgb(101, 167, 167);
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}


.info-data .product-chnges-icon .dots-icon {
    width: 20%;
    height: 32px;
    padding-bottom: 13px;
    padding-top: 15px;
    padding: 1px;
    margin-left: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}



.info-data .product-chnges-icon .dots-icon:hover {
    background-color: rgba(14, 14, 14, 0.133);
    border-radius: 20px;
}