.productDetail-page {
    width: 100%;
    padding: 13px;
    height: auto;
    border: 1px solid #eae3dac4;
    border-radius: 40px;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px;
}

.productDetail-page .prodPage {
    width: 100%;
    /* border: 1px solid black; */
}

.productDetail-page .prodPage .content-containerflex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 30px;
    margin-right: 20px; */
}

.productDetail-page .prodPage .content-containerflex .product-cont {
    width: 50%;
    /* border: 1px solid #eae3dac4; */
}

.product-cont .product-boxf {
    display: flex;
    flex-wrap: wrap;
}

.product-cont .product-boxf .box-image {
    width: 40%;
    /* border: 1px solid red; */
    height: auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.box-image img {
    width: 100%;
    height: 30pc;
    border-radius: 2pc;
    padding: 12px;
    cursor: pointer;
    /* border: 0.1px dotted#eae3dac4; */

}

.product-cont .product-boxf .box-content {
    width: 37%;
    position: absolute;
    border: 1px dotted #eae3dac4;
    left: 200px;
    /* right: 0px; */
    top: 148%;
}

.box-content h1 {
    color: white;
    padding-left: 20pc;
}