.dropdown-section {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    margin-top: 14px;
    margin-bottom: 20px;
}

.nme-cl-cr {
    padding-left: 10px;
    padding-right: 90px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.dropdown-section .dropdown-content img {
    width: 24px;
    height: 24px;
    border-radius: 32px;
}

.dropdown-section .dropdown-content .dropdown-content-cl-name {
    /* border: 1px so.dropdown-contentd white; */
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    bottom: 12px;
    margin-left: 19px;
}
.statics-btn{
    /* border: 2px solid white; */
    display: flex;
    width: 100%;
    justify-content: space-between;

    .add-filter{
        border: none;
        background: none;
        padding: 6px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 450;
        letter-spacing: 1px;
        color: var(--description-color);

        .filter-i{
            font-size: 15.4px;
            margin-right: 4px;

        }
    }:hover{
        color: var(--color);
        cursor: pointer;
    }

    .clear-btn{
        border: none;
        background: none;
        padding: 6px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 450;
        /* letter-spacing: 1px; */
        color: var(--description-color);
        transition: all 0.3s ease-in-out;
    }:hover{
        color: var(--color);
        cursor: pointer;
        font-weight: 600;
transform: scaleY(10px);
    }
    
}