.profile-prt {
    width: 100%;
    height: auto;
    /* padding: 40px; */
    /* border: 1px solid black; */
}

.profile-prt .profile-content {
    width: 100%;
    /* border: 1px solid red; */
    /* margin-top: 3.3%; */
    /* padding: 30px; */
}

.profile-prt .profile-content .user-profile .profile-details {
    width: 100%;
    height: auto;
    padding: 20px;

}

.user-profile .profile-details .txt-container {
    width: 100%;
    padding-left: 35px;
    margin-bottom: 20px;
}

.profile-details .txt-container .user-name {
    width: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 20px;
}

.profile-details .txt-container .caption-area {
    border: 1px solid rgba(245, 245, 220, 0.559);
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 2px;
    width: 20%;
    height: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-weight: 350;
    color: rgb(117, 119, 120);
}


.profile-details .txt-container .caption-area input {
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    border: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-left: 20px;
    background-color: rgba(147, 172, 172, 0.356);
    box-shadow: 2px 3px 9px rgba(100, 130, 130, 0.628);
}


.profile-prt .profile-content .user-profile .contentEdit-btn {
    width: 8.5%;
    padding: 7.5px;

}


.contentEdit-btn .edit-btn {
    width: 100%;
    background-color: rgba(22, 22, 22, 0.923);
    color: beige;
    padding: 11.4px;
    border-radius: 22px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.contentEdit-btn .edit-btn:hover {
    background-color: rgb(123, 121, 118);
}


.mega-userProfile {
    margin-top: 10px;
    /* border: 1px solid black; */
    width: 100%;
    /* height: 10%; */
    padding: 10px;
}

.mega-userProfile .cl-rowUser {
    width: 100%;
    /* border: 1px solid black; */
}

.cl-ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    list-style: none;
    padding-right: 50px;
}

.cl-ul li {
    font-size: 20px;
    background-color: rgba(37, 36, 36, 0.208);
    color: beige;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 12px;
    cursor: pointer;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.cl-ul li:hover {
    background-color: #6b8a7ab3;
}


.item {
    border: 1px solid black;
    width: 100%;
}

.input-container {
    width: 100%;
    padding: 30px;
    height: auto;
}

.input-container .input-box {
    width: 70%;
    /* border: 1px solid rgba(0, 0, 0, 0.51); */
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* box-shadow: whitesmoke 2px 1px 3px 5px; */
    box-shadow: rgba(30, 30, 30, 0.35) 0px 5px 15px;
}

.input-box h3 {
    width: 100%;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: 545;
    text-transform: capitalize;
    text-align: center;
}

.input-box .h3-hr {
    width: 30%;
    margin-left: 370px;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.823);
    margin-bottom: 12px;
}

.input-container .input-box .flex-item {
    width: 90%;
    padding: 10px;
    display: flex;
    /* justify-content: space-around; */
    gap: 0px;
    border: 1px solid transparent;
    margin-left: 50px;
    margin-top: 16px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-container .input-box .img-area {
    width: 50%;
    /* border: 1px solid black; */
    border-radius: 12px;
    padding: 10xpx;
    /* margin-left: 10px; */
}

.input-container .input-box .img-area .image-field {
    width: 100%;
    /* border: 1px solid black; */
    height: auto;
    position: relative;
}


.input-box .img-area .image-field .select-item {
    position: relative;
    top: 30%;
    font-size: 44px;
    margin-bottom: 40px;
    margin-top: 60px;
    width: 100%;

}


.input-box .img-area .image-field label {
    width: 100%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-left: 110px;
}


.input-box .img-area .image-field input {
    width: 29%;
    color: #686c6a39;
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px;
    font-size: 20px;
    font-weight: lighter;
}

.input-container .input-box .flex-item .horizontl-line {
    color: transparent;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.input-container .input-box .local-input {
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 12px;
    height: auto;
    padding: 5px;
    margin-top: 20px;
}


.input-box .local-input .cl-local {
    width: 100%;
    padding: 10px;
}

.local-input .cl-local .user-pic {
    width: 100%;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 14px;
    height: 2.8pc;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border-bottom: #23242439;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2px; */
}


.cl-local .user-pic img {
    position: relative;
    left: 12px;
    border-radius: 22px;
    border: white 2px solid;
    width: 37px;

}

.post-brief h4 input {
    border: none;
    padding: 9px;
    border-radius: 6px;
    /* margin-left: 20px; */
    margin-bottom: 8px;
    width: 32pc;
    background-color: transparent;
    letter-spacing: 1px;
    outline: none;
    font-size: 19.4px;
    color: black;
}


.post-brief h4:hover hr {
    transition: all 0.3s ease-in;
    border: 1.5px solid rgba(16, 15, 15, 0.49);

}

.local-input .cl-local .caption-block {
    width: 100%;
    margin-top: 8px;
    /* border: 1px solid black; */
    height: 5.7pc;
}

.local-input .cl-local .caption-block .centered-input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding-left: 12px;
    padding-bottom: 45px;
}

.post-brief {
    width: 100%;
    padding: 3px;
    height: auto;
}

.post-brief .price-bref {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 30px;
    /* border: 1px solid rgba(0, 0, 0, 0.208); */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2px; */
    margin-top: 20px;
}

.price-bref:hover hr {
    transition: all 0.2s ease-in;
    border: 1.5px solid rgba(16, 15, 15, 0.49);
}

.post-brief .price-tg-txt {
    width: 100%;
    margin-top: 2px;
    /* margin-bottom: 6px; */
    /* border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-left: 15px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.622);
}

.brand-bar input {
    border: none;
    padding: 7px;
    border-radius: 6px;
    margin-left: 10px;
    width: 95%;
    background-color: transparent;
    letter-spacing: 1px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15.7px;
}

.brand-bar input :hover {
    border: none;
    background-color: rgba(0, 0, 0, 0.086);
}


.post-brief input {
    border: none;
    padding: 7px;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 8px;
    width: 95%;
    background-color: transparent;
    letter-spacing: 1px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19.4px;
}

.post-brief input :hover {
    border: none;
    background-color: rgba(0, 0, 0, 0.086);
}

.post-brief .stock-bar {
    width: 100%;
    border-radius: 12px;
    margin-top: 22px;
    margin-bottom: 30px;
}

.stock-bar:hover hr {
    transition: all 0.3s ease-in;
    border: 1.5px solid rgba(16, 15, 15, 0.49);
}

.stock-bar h5 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding-left: 15px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 6px;
    text-transform: capitalize;
    /* border: 1px solid rgba(0, 0, 0, 0.208); */
    box-shadow: rgba(0, 0, 0, 0.015) 1.95px 1.95px 2.6px;
}

.stock-bar h5:hover {
    background-color: rgba(0, 0, 0, 0.011);
    box-shadow: rgba(0, 0, 0, 0.063) 1.95px 1.95px 2.6px 1.95px;
    border: 1.5px solid rgba(0, 0, 0, 0.703);
}

.brand-bar {
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2px; */
    border-radius: 12px;
    margin-top: 22px;
    /* border: 1px solid rgba(0, 0, 0, 0.208); */

}

.brand-bar:hover hr {
    transition: all 0.3s ease-in;
    border: 1.5px solid rgba(16, 15, 15, 0.49);
    cursor: pointer;
}

.brand-bar h5 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 17px;
    padding-left: 15px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.622);
}

.submit-btn {
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

.re-contaier {
    width: 100%;
    margin: 10px 20px 10px 26px;
    display: flex;
    /* gap: 4px; */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}



.re-contaier .product-fl {
    margin: 25px;
    width: 29%;
}

.re-contaier .product-fl .products-w {
    width: 98.4%;
    height: auto;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.re-contaier .product-fl .products-w:hover {
    box-shadow: 2px 4px 7px var(--border-color);
}

.re-contaier .product-fl .products-w:hover .product-box .product-img img {
    cursor: pointer;
    box-shadow: 2px 4px 7px var(--border-color);
}

.re-contaier .product-fl .products-w .product-box {
    /* margin: 12px; */
    width: 100%;
    padding: 5px;
    border-radius: 12px;
}


.products-w .product-box .product-img {
    width: 100%;
    height: 323px;
}

.products-w .product-box .product-img img {
    width: 99.7%;
    height: 100%;
    border-radius: 12px;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
    /* opacity: .9; */
}

.re-contaier .product-fl .products-w .product-breif {
    width: 100%;
    /* margin-top: 5.3px; */
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

.re-i-rupee {
    position: relative;
    top: 4px;
    left: 4px;
    font-size: 14px;
}

.products-icon {
    margin-top: 0px;
    display: flex;
    /* margin-left: 87%; */
    margin-right: 5px;
}

.products-icon .product-chnges-icon {
    margin-right: 10px;
    color: var(--color);
    cursor: pointer;
    /* font-size: large; */
}

.product-chnges-icon .dots-icon {
    font-size: 21px;
    margin-top: 9.5px;
}

.product-chnges-icon .edit-icon {
    font-size: 20.9px;
    margin-right: 5px;
}

.edit-icon:hover {
    color: rgb(0, 187, 255);
    /* font-size: 26px; */
}

.product-chnges-icon .delete-icon {
    font-size: 20px;
    margin-left: 5px;
}

.delete-icon:hover {
    color: rgb(255, 80, 22);
    /* font-size: 27px; */
}

.dots-icon:hover {
    border-radius: 20px;
    /* margin: 1px; */
    cursor: pointer;
    color: rgba(90, 178, 216, 0.909);
    font-size: 20px;
}

.cl-as-post {
    margin-left: 550px;
    /* position: relative;
    bottom: 70px; */
}

.add-new-post-btn {
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 15px;
    /* margin-top: 30px; */
    margin-left: 34px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    /* bottom: 5.5pc; */
    background-color: transparent;
    color: var(--color);
    border: 1px solid rgba(66, 65, 65, 0.911);
    position: relative;
    bottom: 45px;
}

.add-new-post-btn a {
    text-decoration: none;
    color: var(--color);
}

.grid-layOut {
    position: relative;
    right: 5px;
    top: 2px;
    font-weight: bolder;
}

.dropdown-e-d {
    width: 20%;
    height: 32px;
    /* border: 2px solid wheat; */
    color: var(--color);
    font-size: 30px;
    cursor: pointer;
    text-align: end;
    position: relative;
    left: 350px;
}