.saved-semiConatiner {
    display: flex;
    width: 100%;
}

.saved-headline-hr {
    margin-top: 8px;
    margin-left: 8%;
    margin-right: 8%;
    color: var(--color);
}

.saved-semiConatiner .side-sectionBar {
    width: 20%;
    border: 1px solid white;
}

.saved-products-container {
    width: 70%;
    margin-top: 100px;
    padding: 30px;
    margin-left: 25pc;
}

.saved-products-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 340;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 7%;
    color: var(--color);
    width: 30%;
    border-radius: 55px;
    padding: 3px;
    border: 1px solid var(--color);
}

.saved-products-container p {
    font-size: 25px;
    font-weight: 250;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin-top: 12pc;
    cursor: pointer;
    color: var(--color);
}

.saved-products-container p span {
    color: blueviolet;
    cursor: pointer;
    padding: 2px;
    padding-left: 20px;
}

.saved-products-container p span a {
    margin-top: 12pc;
}

.saved-products-container p span a:hover {
    color: rgb(37, 175, 244);
}

.saved-products-container p span .arr {
    margin-top: 45px;
    padding-top: 6.5px;
    padding-left: 2px;
}

.saved-products-container .info-prod .info-data h4 {
    margin-top: 0px !important;
}

.saved-products-container .saved-products-list .products {
    width: 80%;
}

.saved-products-container .saved-products-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 80px;
    margin-top: 70px;
    margin-left: 30px;
}

.saved-products-list .fluid-post {
    width: 50%;
    margin-bottom: 6px;
}

.saved-hr {
    color: var(--color);
    margin-left: 23.8pc;
    position: fixed;
    margin-top: 82px;
    height: 100%;
}