.saved-semiConatiner {
    /* display: flex; */
    width: 100%;
}

.saved-headline-hr {
    margin-top: 8px;
    margin-left: 8%;
    margin-right: 8%;
    color: var(--color);
}

.saved-semiConatiner .side-sectionBar {
    width: 20%;
    border: 1px solid white;
}

.saved-products-container {
    width: 100%;
    /* margin-top: 90px; */
    height: auto;
    padding: 20px;
}

.saved-products-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    margin-top: 5px;
    margin-left: 3%;
    /* color: var(--color); */
    color: rgb(48, 155, 232);
    ;
    width: 30%;
    padding: 3px;
    letter-spacing: 1px;
}

.saved-products-container p {
    color: var(--description-color);
    margin: 16px 0;
    font-size: 16px;
    line-height: 1.5;
}

.saved-products-container p span {
    color: blueviolet;
    cursor: pointer;
    padding: 2px;
    padding-left: 20px;
}

.saved-products-container p span a {
    margin-top: 12pc;
}

.saved-products-container p span a:hover {
    color: rgb(37, 175, 244);
}

.saved-products-container p span .arr {
    margin-top: 45px;
    padding-top: 6.5px;
    padding-left: 2px;
}

.saved-products-container .info-prod .info-data h4 {
    margin-top: 0px !important;
}

.saved-products-container .saved-products-list .products {
    width: 100%;
    border: 1.8px solid var(--border-color);
}

.saved-products-container .saved-products-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 45px;
    margin-top: 61px;
    /* margin-left: 30px; */
}

.saved-products-list .fluid-post {
    width: 50%;
    margin-bottom: 6px;
    padding: 5px 12px 2px 2px;
}

.saved-hr {
    color: var(--color);
    margin-left: 23.8pc;
    position: fixed;
    margin-top: 82px;
    height: 100%;
}

h1 {
    color: var(--color);
    position: relative;
    /* right: 12pc; */
}

.saved-cl-page {
    color: var(--color);
    margin: 72px 0;
    font-size: 26px;
    line-height: 1.5;
}