.acount-cl {
    /* height: auto; */
    /* padding: 22px; */
    /* padding-left: 50px; */
    /* padding-right: 50px; */
display: flex;
    width: 100%;
}

.acount-cl .cl-container {
    width: 70%;
    /* border: 2px solid black; */
}

.acount-cl .cl-container .boxes-ro {
    width: 55%;
    margin-top: 30px;
    padding-bottom: 40px;
    margin-left: 25pc;
    border: 1px solid beige;
    border-radius: 20px;
    padding-left: 60px;
}

.acount-cl .cl-container .boxes-ro:hover {
    box-shadow: rgba(245, 245, 220, 0.737) 2px 4px 7px;
}

.boxes-ro .colum {
    width: 100%;

}

.colum .col-lg {
    width: 44%;
    height: 14pc;
    margin-left: 25%;
}

.colum .col-lg img {
    width: 80%;
    height: 12pc;
    padding-left: 30px;
}

.boxes-ro .colum .content-field {
    width: 100%;
    margin-top: 0px;
    height: auto;
    padding: 12px;
}

.boxes-ro .colum .content-field .input-contaainer {
    width: 100%;
}

.input-contaainer .text-flied h3 {
    width: 100%;
    height: auto;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 33px;
    padding-left: 90px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
}

.input-contaainer .text-flied h4 {
    margin-top: 28px;
    padding-left: 200px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;

}

.content-field .input-contaainer .input-section {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    height: auto;
}

.input-section .form-field {
    width: 100%;
    padding: 10px;
    margin-left: 50px;
}

.input-section .form-field .user-input-col {
    width: 70%;
    margin: 20px;
    padding: 15px;
    background-color: white;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 16px;
}

.input-section .form-field .user-input-col:hover {
    box-shadow: 2px 4px 7px rgba(245, 245, 220, 0.481);
}

.input-contaainer .btn-section {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.input-contaainer .btn-section .button {
    width: 50%;
    align-items: center;
    margin-left: 130px;
    color: rgba(0, 0, 0, 0.666);
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #88a18a;
    border-radius: 17px;
}

.input-contaainer .btn-section .button:hover {
    background-color: #BEC6A0;
    color: beige;
    box-shadow: 2px 4px 7px rgba(245, 245, 220, 0.481);
}

.input-contaainer .reset-password {
    width: 40%;
    padding: 16px;
    margin-top: 29px;
    margin-left: 180px;
    text-align: center;
    margin-bottom: 20px;
}

.input-contaainer .reset-password h5 {
    font-size: 17.4px;
    font-weight: 260;
    /* letter-spacing: 0.9px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.input-contaainer .reset-password h5:hover {
    color: rgba(0, 0, 0, 0.596);
}

.input-contaainer .sign-up-box {
    width: 100%;
    padding: 22px;
    margin-top: 30px;
    /* border: 1px solid black; */
}

.input-contaainer .sign-up-box .col-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.input-contaainer .sign-up-box .col-flexbox h4 {
    font-size: 23px;
    font-weight: 350;
    padding: 8px;

}

.input-contaainer .sign-up-box .bttn-bar {
    width: 30%;
    padding: 3.5px;
    /* border: 1px solid black; */
}

.bttn-bar .buton {
    background-color: #88a18a;
    padding: 8px;
    color: rgba(0, 0, 0, 0.666);
}

.bttn-bar .buton:hover {
    color: rgba(245, 245, 220, 0.708);
    background-color: #a3aa89;
}

.accountpage-hr{
    color: var(--color);
    opacity: .2;
    margin-left: 23.8pc;
    position: fixed;
    margin-top: 82px;
    height:100%;
}