.comment-section {
    border: 1px solid #ccc;
    border-radius: 15px;
    /* padding: 20px; */
    padding-top: 10px;
    margin-top: 20px;
    width: 23%;
    position: fixed;
    right: 0;
    top: 11%;
    background: var(--nav-bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 26px;
    height: 26pc;
    z-index: 10;
}

.comment-section h2 {
    /* margin-bottom: 10px; */
    color: var(--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22.4px;
    font-weight: 420;
    padding-left: 32px;
    position: relative;
    top: 12px;
    left: 12px;
    /* padding-bottom: 4px; */
}

.comment-section .comments-list {
    margin-top: 10px;
    /* border: 2px solid red; */
    /* padding: 12px; */
    padding-top: 7px;
    margin-bottom: 4px;
    height: auto;
    width: 100%;
}

.comment-section .comments-list .commet-col {
    width: 100%;
}

.comments-list .commet-col .user-coment-selection {
    /* width: 34px; */
    height: auto;
    /* border: 1px solid white; */
    padding-bottom: 13px;
}

.user-coment-selection .user-img {
    width: 100%;
    display: flex;
    color: var(--color);
}

.user-img img {
    width: 7%;
    height: 30px;
    border-radius: 39px;
    margin-left: 12px;
    margin-top: 5px;
}

.user-img p {
    margin-left: 12px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 14.5px;
    letter-spacing: 1px;
    opacity: .7;
}

.user-img p:hover {
    opacity: .9;
    cursor: pointer;
}

.coment-horizontalLine {
    opacity: .1;
}

.cmnt-edits {
    position: relative;
    font-size: 20px;
    left: 65px;
    top: 7px;
    cursor: pointer;
    opacity: .7;
}

.cmnt-edits:hover {
    font-size: 22px;
    opacity: .9;
}

.comment-section form {
    padding: 14px;
    width: 100%;
    position: relative;
    top: 40px;
    height: auto;
    border-radius: 14px;
}

.comment-section form .txt-wrp {
    width: 25pc;
    background-color: var(--nav-bg-color);
    color: var(--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    /* border: 1px solid red; */
    position: fixed;
    top: 31.5rem;
}

.sent-box {
    position: fixed;
    top: 31.5rem;
    left: 95.4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: var(--color);
    background: none;
    padding: 3px;
    border: none;
}

.sent-box:hover {
    color: rgb(0, 183, 255);
    cursor: pointer;
}

.closed-icona {
    color: var(--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    position: relative;
    bottom: 14px;
    left: 88%;
    cursor: pointer;
}

.closed-icona:hover {
    color: rgb(49, 185, 169);
    opacity: .5;
}

.delete-button {
    background: none;
    border: none;
    color: var(--color);
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-top: 12px;
    position: fixed;
    left: 114.4rem;
}

.delete-button:hover {
    color: rgb(241, 31, 31);
}