.container {
    width: 20%;
    position: fixed;
    top: 30px;
    height: calc(100vh - 30px);
    overflow-y: auto;
    margin-top: 3.7pc;
}

.container .content .content-fluid {
    padding: 2px;
}

.container .content .content-fluid .sidebar {
    width: 100%;
}

.sidebar .side-heading {
    padding: 10px;
    color: var(--color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.category-list {
    width: 100%;
}

.sidebar .category-list ul {
    list-style: none;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: var(--color);
    margin-top: 15px;
}

.sidebar .category-list ul a {
    text-decoration: none;
    color: var(--color);
}

.sidebar .category-list ul a li {
    width: 95%;
    margin-left: 5px;
    margin-bottom: 23px;
    /* margin-right: 5px; */
    letter-spacing: 1.3px;
    font-weight: 350;
    padding: 15px;
    font-size: 21px;
    border-radius: 70px;
    padding-left: 50px;
    /* border: 2px solid white; */
}

.category-list ul a li .user-prof-i {
    position: relative;
    top: 4px;
    left: -12px;
}

.sidebar .category-list ul a li:hover {
    border: 1px solid var(--color);
    font-weight: 300;
}

.matrl-list {
    margin-top: 20px;
}


.category-list ul a li .crt-btn {
    /* width: 1pc; */
    /* border: 1px solid white; */
    color: var(--color);
    font-size: large;
}