.container {
    width: 20%;
    position: fixed;
    top: 30px;
    overflow: hidden;
    margin-top: 3.1pc;
    box-sizing: border-box;
    height: calc(100vh - 30px);
    transition: all 0.3s ease;
}

.container:hover {
    overflow-y: auto;
}

.container .content {
    width: 100%;
}

.sidebar .side-heading {
    padding: 10px;
    color: var(--color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.category-list {
    width: 100%;
}

.sidebar .category-list ul {
    list-style: none;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: var(--color);
    margin-top: 15px;
}

.sidebar .category-list ul a {
    text-decoration: none;
    color: var(--color);
}

.sidebar .category-list ul a li {
    width: 250px;
    margin-bottom: 15px;
    letter-spacing: 1.3px;
    font-weight: 350;
    padding: 20px 10px 8px 4px;
    font-size: 15px;
    border-radius: 70px;
    padding-left: 50px;
}

.sidebar .category-list ul a li:hover {
    border: 1px solid rgba(255, 255, 255, 0.926);
}

.matrl-list {
    margin-top: 20px;
    padding-top: 20px;
}

.category-list ul a li .user-prof-i {
    position: relative;
    top: 4px;
    left: -12px;
}

.category-list ul a li .crt-btn {
    color: var(--color);
    font-size: large;
}

.sidar-line {
    position: fixed;
    width: 376.8px;
}

.container::-webkit-scrollbar {
    width: 3px;
}

.container::-webkit-scrollbar-track {
    background: #fffdfdbd;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #757575eb;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container:hover::-webkit-scrollbar {
    width: 6px;
}

.container::-webkit-scrollbar {
    transition: width 0.3s ease;
}