* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

[data-theme="light"] {
  --bg-color: #f0ebeb;
  --text-color: black;
  --border-color: rgba(32, 31, 31, 0.249);
  --color: black;
}

[data-theme="dark"] {
  --bg-color: rgba(0, 0, 0, 0.87);
  --text-color: white;
  --border-color: white;
  --color: white;
}

body {
  background-color: var(--bg-color);
}