* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

[data-theme="light"] {
  --bg-color: rgb(255, 255, 255);
  --text-color: black;
  --border-color: rgba(25, 25, 25, 0.469);
  --color: black;
  --nav-bg-color: #ffffff;
  --userName-color: rgb(104 100 100 / 60%);
  --navigation-search-color :white;
}

[data-theme="dark"] {
  --bg-color: rgba(0, 0, 0, 0.87);
  --text-color: white;
  --border-color: rgba(255, 255, 255, 0.758);
  --color: white;
  --nav-bg-color: #232222;
  --userName-color: rgba(233, 231, 231, 0.604);
  --navigation-search-color:white;
}

body {
  background-color: var(--bg-color);
}